<p>
  employee works!
</p>
<table border="3">
  <tr>
    <th>EmpNo</th><th>FullName</th><th>Email</th><th>MobileNo</th>
    <th>DateOfJoining</th><th>Department</th><th>MgrId</th><th>AvailLeavBal</th>
  </tr>
  <tr *ngFor="let e of employee | async">
    <td>{{e.empId}}</td>
    <td>{{e.empFullName}}</td>
    <td>{{e.empEmail}}</td>
    <td>{{e.empMobileNo}}</td>
    <td>{{e.empDateOfJoining}}</td>
    <td>{{e.empDepartment}}</td>
    <td>{{e.empMgrId}}</td>
    <td>{{e.empAvailLeavBal}}</td>
    <td><input type ="button" value="login"(click)="login(e.empId,e.empMgrId)"/>
    </td>
  </tr>
  </table>
