<h1 id=head>EMPLOYEE DETAILS</h1>
<br/><br/><br/>
<table border="3" align=center width=100 height=300>
  <tr>
    <th>Emp No</th><th>Full Name</th><th>Email</th><th>Mobile No</th>
    <th>DateOfJoining</th><th>Department</th><th>Manager Id</th><th>Available Leave Balance</th><th>Login</th>
  </tr>
  <tr *ngFor="let e of employee | async">
    <td>{{e.empId}}</td>
    <td width>{{e.empFullName}}</td>
    <td>{{e.empEmail}}</td>
    <td>{{e.empMobileNo}}</td>
    <td>{{e.empDateOfJoining}}</td>
    <td>{{e.empDepartment}}</td>
    <td>{{e.empMgrId}}</td>
    <td>{{e.empAvailLeavBal}}</td>
    <td><input type ="button" value="Login"(click)="login(e.empId,e.empMgrId)"/>
    </td>
  </tr>
  </table>
  <br/><br/><br/>
  <div id=image></div>
