<h1 id=head>LEAVE MANAGEMENT</h1>
<br/><br/><br/>
<table border="3" align=center width=400 height=400>
  <tr>
    <th>EmpNo</th><th>FullName</th><th>Email</th><th>MobileNo</th>
    <th>DateOfJoining</th><th>Department</th><th>MgrId</th><th>AvailLeavBal</th><th>Login</th>
  </tr>
  <tr *ngFor="let e of employee | async">
    <td>{{e.empId}}</td>
    <td width>{{e.empFullName}}</td>
    <td>{{e.empEmail}}</td>
    <td>{{e.empMobileNo}}</td>
    <td>{{e.empDateOfJoining}}</td>
    <td>{{e.empDepartment}}</td>
    <td>{{e.empMgrId}}</td>
    <td>{{e.empAvailLeavBal}}</td>
    <td><input type ="button" value="login"(click)="login(e.empId,e.empMgrId)"/>
    </td>
  </tr>
  </table>
  <br/><br/><br/>
  <div id=image></div>
