<html>

<body>

<div class="center">

 <fieldset>
   <legend class=style>SIGN-IN</legend>
   <br/>
 <div style="text-align:center" > 

 
<div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
 
    <div class="modal-content">
     <div class="modal-header" *ngIf="username==1000">
      <img src="SANJU.jpg" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <div class="modal-header" *ngIf="username==2000">
      <img src="BHASKAR.jpg" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <div class="modal-header" *ngIf="username==3000">
      <img src="PAVAN.jpg" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <div class="modal-header" *ngIf="username==4000">
      <img src="NISHTHA.jpg" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <div class="modal-header" *ngIf="username==5000">
      <img src="KARTHIGA.jpg" alt="avatar" class="rounded-circle img-responsive">
      </div> 
    </div>
    </div> 
  </div> 
</div>
 <br/>


<form name="FormLogin" (ngSubmit)="login()" align="center">


          <b>EMPLOYEE ID:</b><br/>
  <input type = "text" name="username" [(ngModel)]="username" readonly/> <br/> <br/>

          <b>PASSWORD:</b><br/>
  <input type = "password" name="password" [(ngModel)]="password"/> <br/> <br/>

    <input type="submit" class ="button" value="LOGIN">

</form>
 </fieldset>
</div>

</body>
</html>

