
body{
  background-image: url("https://thumbs.gfycat.com/UnknownMellowBluebird-max-1mb.gif");
  background-size: cover;
  background-position: center;
  color: silver;
}
.center {
  margin: auto;
  width: 60%;
  padding: 40px;
  font-weight: bold;
  color: #f7f6f6;
}
.style{
  color: silver;
    text-align: center;
    font-size:30px;
    text-decoration:underline;
}
    img {
  border-radius: 50%;
}
.button{
    font-weight: bold;
}
