navbar{
list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


body {
  background-image: url("https://previews.123rf.com/images/manine99/manine991709/manine99170900036/87100004-blurred-light-interior-official-or-blurred-light-coffee-cafe-for-background.jpg");
    background-color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: black;
}

 #showdetails {
  border: 2px solid rgb(37, 33, 71);
  padding: 10px;
  
} 
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
