<body>
    
    <br/>
<h1 id=head> LEAVE DETAILS </h1>

<table border="3" >
   <tr *ngFor="let e of empData | async"> 
      <div *ngIf="e.empMgrId==empno"> 
          <th>Employee Id</th> <td>{{e.empId}}</td>
          <th>Employee Name</th> <td>{{e.empFullName}}</td>
          <th>Leave Balance</th> <td>{{e.empAvailLeavBal}}</td>
          <!-- <br/><br/> -->
          <tr border="3" width =100%>
              <th width="100">Leave ID</th>
              <th width="94">Employee ID</th>
              <th width="150">Start Date</th>
              <th width="150">End Date</th>
              <th width="140">Number Of Leaves</th>
              <th width="152">Leave Reason</th>
              <th width="150">Applied On</th>
              <th width="180">Manager Comments</th>
              </tr>              
        </div>

        <table border="3">
            <tr border="3">
                <tr *ngFor="let ld of leavedetails | async" (click)="setClickRowDup(ld.leaId, e.empId)">
            <div *ngIf="e.empId == ld.leaEmpId" rowspan=250 px>
            <td width="100">{{ld.leaId}}</td>
            <td width="93">{{ld.leaEmpId}}</td>
            <td width="150">{{ld.leaStartDate}}</td>
            <td width="150">{{ld.leaEndDate}}</td>
            <td width="140">{{ld.leaNumberOfDays}}</td>
            <td width="153">{{ld.leaReason}}</td>
            <td width="150">{{ld.leaAppliedOn}}</td>
            <td width="180">{{ld.leaManagerComment}}</td>
            </div>
            </tr>
            </table>
            
   </tr>
</table>
<br/>
<div align = center>
<div *ngIf="showButton">
    <input type="button"class="button" (click)="doApproveDeny()" value="APPROVE/DENY">
    </div>
</div>
<div align = center>
       <div *ngIf="!showButton">
       <input type="button" class="button" align="center" value="APPROVE/DENY" disabled="disabled">
       </div>
    </div>
    <br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

</body>

