#head{
    text-align: center;
}
.button{
    font-weight: bold;

}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
  
}
body{
    background-image : url("https://upload.wikimedia.org/wikipedia/commons/b/ba/Color_icon_white_v2.svg");
    background-size: cover;
    background-position: center;
}
a{
    color:black;
}

tr:hover {background-color : lightslategrey;}

p{
    text-align: center;
}