#head{
    background-color: ivory;
    text-align: center;
}
.button{
    font-weight: bold;
}
table, th, td {
  border: 2px solid black;
  border-collapse: collapse;
}
body{
    background-image : url("https://previews.123rf.com/images/manine99/manine991709/manine99170900036/87100004-blurred-light-interior-official-or-blurred-light-coffee-cafe-for-background.jpg");
}